/*CSS-Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
min-height: 100vh;
background-color: #f4f4f4;
}

#heading, #paragraph, #image, #color, #marquee, #text, #lists, #table {
scroll-margin-top: 3.1rem;
margin: 0 10px;
}

/* new nav styles */

nav {
    position: sticky;
    top: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,129,170,1) 100%, rgba(0,212,255,1) 100%);
    box-shadow: 7px 7px 4px rgba(72, 72, 72, 0.2);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;

}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ffffff;
}

nav a:hover {
    background-color: #f0f0f0;
    color: #000000;

}

nav li:first-child {
    margin-right: auto;
    font-size: 2.5rem;
    font-weight: 700;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: #000;
}

.sidebar a:hover {
    background-color: #000;
    color: #fff;
}

.menu-button {
    display: none;
}

@media(max-width: 768px) {
    .hideOnMobile{
        display: none;
    }

    .menu-button {
        display: block;
    }

    #heading, #paragraph, #image, #color, #marquee, #text, #lists {
        scroll-margin-top: 0;
    }
}

@media(max-width: 476px) {
    .sidebar {
        width: 100%;
    }
}

/* tables section styles */

.table .tableh1 {
    font-size: 3rem;
    color: red;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-container table tr td {
    background-color: #fff;
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}
.table-container table tr th {
    background-color: #019f80;
    color: #ffffff;
    border: 1px solid black;
    padding: 10px;
}

.table-container table tr td:hover {
    background-color: #536a68;
    color: #fff;
    cursor: pointer;
}

/* heading section styles */

.heading .fonth1{
    font-size: 3rem;
    color: blueviolet;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.heading .heading-margin {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.heading .heading-margin h1{
    font-size: 1.8rem;
}

/* paragraph section styles */

.paragraph h1 {
    font-size: 3rem;
    color: rgb(81, 157, 63);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.paragraph p {
    width: 80%;
    margin: 0 auto;
}

.paragraph p .span1 {
    background-color: orangered;
}

.paragraph p .span2 {
    background-color: greenyellow;
}

.paragraph p .span3 {
    background-color: purple;
    color: white;
    font-size: 22px;
}

/* links styles */

.paragraph .link-margin {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
}

.paragraph .link-margin a{
    font-size: 2rem;
    text-decoration: none; 
    color: blue;  
}

.paragraph .link-margin a:hover {
    color: rgb(255, 0, 0);
    font-size: 2.1rem;
}

.paragraph .link-margin a:visited {
    color: gray
}

.paragraph .link-margin a:active {
    color: rgb(0, 34, 255);
}

/* background images styles */

.image .content_p1 {
    width: 80%;
    margin: 0 auto;
    background-image: url(https://cdn.pixabay.com/photo/2012/08/27/14/19/mountains-55067_1280.png);
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
}
.image .content_p2 {
    width: 80%;
    margin: 0 auto;
    background-image: url(https://cdn.pixabay.com/photo/2015/12/12/22/35/snowman-1090261_1280.jpg);
    color: #000;
    background-repeat: repeat-x;
    background-size: 300px 300px;
}
.image .content_p3 {
    width: 80%;
    margin: 0 auto;
    background-image: url(https://cdn.pixabay.com/photo/2019/07/25/17/09/camp-4363073_1280.png); 
    color: #000000;
    background-repeat: repeat-y;
    background-size: 300px 200px;
}

@media(max-width: 768px) {
    .image .content_p1 {
        background-size: 300px 400px;
        width: 300px;
        height: 400px;
        overflow: hidden;
    }

    .image .content_p2 {
        background-size: 70px 200px;
        width: 300px;
        height: 400px;
        overflow: hidden;
    }

    .image .content_p3 {
        background-size: 70px 50px;
        width: 300px;
        height: 400px;
        overflow: hidden;
    }
}

/* images styles */

.image h1 {
    font-size: 3rem;
    color: rgb(255, 70, 153);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.image .line1 {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}

.image .line2 {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

@media(max-width: 768px) {
    .image .line1 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .image .line2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

/* Color section styles */

.middle {
    width: 80%;
    margin: 0 auto;
}

.color .colorh1 {
    font-size: 3rem;
    font-weight: 700;
    color: #a208a2;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.color h1 {
    margin-bottom: 1rem;
}

/* marquee and iframes styles */

.marquee h1 {
    font-size: 3rem;
    color: rgb(130, 125, 8);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.marquee .mq {
    font-size: 2rem;
    color: white;
    background-color: rgb(235, 121, 140);
}

.if1 {
    display: flex;
    justify-content: space-evenly;
}

.if2 {
    display: flex;
    justify-content: space-evenly;
}

@media(max-width: 768px) {
    .if1 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400;
        height: 300;
    }
    .if2 {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 400;
        height: 300;
    }
}

/* text formatting section styles */

.text h1 {
    font-size: 3rem;
    color: rgb(229, 133, 50);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text .left{
    margin-left: 3rem;
}

/* list section styles */

.lists h1{
    font-size: 3rem;
    color: rgb(8, 92, 126);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.lists ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.lists ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}

.lists dl {
    margin-left: 3rem;
}

.top {
    display: flex;
    justify-content: flex-end;
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
}

.svgIcon {
    width: 12px;
    transition-duration: 0.3s;
}

.svgIcon path {
    fill: white;
}

.button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
}

.button:hover .svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(-200%);
}

.button::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    transition-duration: .3s;
    font-size: 0px;
}

.button:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
}


/* footer styles */

.footer {
    text-align: center; 
    margin-top: 20px; 
    margin-bottom: 20px; 
    background-color: #fff;
    display: block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.footer h2 span {
    color: #FF046F;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}


